#ifndef SECRETS_H
#define SECRETS_H

// WiFi credentials
#define WIFI_SSID "your_wifi_ssid"
#define WIFI_PASSWORD "your_wifi_password"

// HiveMQ Cloud credentials
#define MQTT_SERVER "your_broker.s1.eu.hivemq.cloud"
#define MQTT_PORT 8883
#define MQTT_USER "your_mqtt_username"
#define MQTT_PASS "your_mqtt_password"

#endif
